*{
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'trajan'; /*a name to be used later*/
    src: url('/css/trajn.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'bebas'; /*a name to be used later*/
  src: url('../css/BebasNeue-Bold.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'mont'; /*a name to be used later*/
  src: url('../css/Montserrat-ExtraBold.otf'); /*URL to font*/
}

.bg-dark{
  background: transparent !important;
}

.bg-dark.scrolled { background-color: rgba(0,0,0,0.60) !important; -webkit-transition: background-color 500ms linear; -moz-transition: background-color 500ms 
  linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear;
} 

#header{
  position: absolute;
  z-index: 10;
}

.navbar{
  padding: 1px 0;
  position:fixed;
  max-width: max-content;
  min-width: 100%;
  -webkit-box-shadow: 0 1px 6px -6px #999;
    -moz-box-shadow: 0 1px 6px -6px #999;
    box-shadow: 0 5px 7px -6px #4a4949;
  
}

.navbar-brand{
  margin-right: rgb(255, 0, 0);
  width: 1%;
  height: auto;
}

.navbar-dark .navbar-brand{
  color: #dcdde1;
}

.nav-item{
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
}

.navbar-dark .navbar-nav .nav-item .nav-link:hover{
  color: #b8b8b8;
}

.navbar.active {
  background: #fff;
}

.hr-light{
  background-color: #fff;
  max-width: 500px;
  margin: 0 auto;
  align-self: center;
}

.main{
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/drip.jpg");
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  background-size: cover;
  object-position: bottom;
  background-position: center;
  padding: 220px 0 200px;

}

.main h2{
  margin: 0;
  padding: 0;
  font-size: 2.6em;
  color:#dcdde1;
}

/* The animation code */
@keyframes example {
  0%   {background-color:#718093; left:-900px; top:0px;}

  100% {background-color:#718093; left:0px; top:0px;}
}

/* The element to apply the animation to */
.btn {
  background: #718093;
  color: #fff;
  border-radius: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  background-color: #718093;
  animation-name: example;
  animation-duration: 2s;
}

@media (max-width: 768px){
  .main{
    padding: 200px 0;
  }
}


#contactcenter{
  width: 110px;
}


#location{
  margin-top: 3vw;
  margin-left: 1vw;
}

.rain{
  font-family: trajan !important ;
  font-weight: bolder;
  font-style: bold;
  font-size: 4.5em;
  font-family: serif;
  color: #e6e3e3;
}

#subtext{
  font-weight: normal;

  font-style: normal;
  font-family: serif;
  color:  #e6e6e6;

}

.intro{
  font-family: trajan;
  margin-top: 2.0rem;
  text-align: center;
}

#introHead{
  font-weight: bold;
  font-size: 2.5em;

}
.btn-outline-portfolio{
  background-color: #397548;
  animation-name: none;

}
.btn-outline-quote{
  animation-name: none;

}

.btn-outline-black{
  animation-name: none;
}

.p-5{
  padding: 0%;
}

.resize{
  text-align: left;
}


.greetings{
  position: relative;
  align-content: center;
  text-align: center;
  margin-top: 100px;
}

#features{
  margin-top: 2em;
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
}

.row{
  margin: 0px;
}

.filter:hover{
  font-size: 17px;
  font-weight: bold;
}

.btn-default{
  background-color: whitesmoke !important;
}

.portfolio{
  margin-top: 15px;
  text-align: center;
}

#contact{
  text-align: center;
}

#contactcenter{
  width: 500vw;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }


#footend{
  background-color: #0000;
}

#usefullinks{
  color: #fff;
}

.page-footer{
  background-color: #737373;
}

.connectshadow{
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 8px -6px #4a4949;
}


@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.form-group{
  margin-bottom:1.5em;
  transition:all .3s;
}
.form-label{
  font-size:.75em;
  color:var(--font-color);
  display:block;
  opacity:0;
  transition: all .3s;
  transform:translateX(-50px);
}
.form-control{
  box-shadow:none;
  border-radius:0;
  border-color:#ccc;
  border-style:none none solid none;
  width:100%;
  font-size:1.25em;
  transition:all .6s;
}
.form-control::placeholder{
  color:#aaa;
}
.form-control:focus{
  box-shadow:none;
  border-color:var(--font-hover-color);
  outline:none;
}
.form-group:focus-within{
  transform:scale(1.1,1.1);
}

.form-control:invalid:focus{
  border-color:red;
}
.form-control:valid:focus{
  border-color:green;
}

.focused > .form-label{
  opacity:1;
  transform:translateX(0px);

}

.form-invalid{
  outline: 1px solid red !important;
}


