*{
    margin: 0;
    padding: 0;
  }
  

  
  .bg-dark{
    background: transparent !important;
  }
  
  .bg-dark.scrolled { background-color: rgba(0,0,0,0.60) !important; -webkit-transition: background-color 500ms linear; -moz-transition: background-color 500ms 
    linear; -ms-transition: background-color 500ms linear; transition: background-color 500ms linear;
  } 
  
  #header{
    position: absolute;
    z-index: 10;
  }
  
  .navbar{
    background-color: rgba(0,0,0,0.60) !important;
    padding: 0px 0;
    position:fixed;
    max-width: max-content;
    min-width: 100%;    
  }
  
  .navbar-brand{
    margin-right: rgb(255, 0, 0);
    width: 1%;
    height: auto;
  }
  
  .navbar-dark .navbar-brand{
    color: #dcdde1;
  }
  
  .nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 10px;
  }
  
  .navbar-dark .navbar-nav .nav-item .nav-link:hover{
    color: #b8b8b8;
  }
  
  .navbar.active {
    background: #fff;
  }
  .projects img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  }
 

  .btn {
    background: #718093;
    color: #fff;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    background-color: #718093;
    animation-name: example;
    animation-duration: 2s;
  }

  .btn-outline-portfolio{
    background-color: #397548;
    animation-name: none;
  
  }
  .btn-outline-quote{
    animation-name: none;
  
  }

  
  #footend{
    background-color: #0000;
  }
  
  #usefullinks{
    color: #fff;
  }
  
  .page-footer{
    background-color: #737373;
  }
  
  .connectshadow{
    -webkit-box-shadow: 0 8px 6px -6px #999;
      -moz-box-shadow: 0 8px 6px -6px #999;
      box-shadow: 0 8px 8px -6px #4a4949;
  }

  .w-100 {
    width: 100% !important;
    height: 80vh;
  }

  @media screen and (max-width: 600px) {
    div.card-hover {
      font-size: 12px;
    }
  }
 
  
  
  